/************************************************
	green: #5cbf65 ;
	brown: #e9baa3;
	compliment: #dad188;
	font-family: BRUSH SCRIPT MT ITALIC;
	sec font: baskerville Reg;
	font family: alex brush
**************************************************/
body, html{
	font-family: 'Libre Baskerville', serif;
	font-family: 'Meddon', cursive;
}
.row{
	min-height: 600px;
	padding: 20px;
}
.navbar-nav {
	float:none;
	margin:0 auto;
	display: block;
	text-align: center;
}
.navbar-nav > li {
	display: inline-block;
	float:none;
}
.navbar-default {
	background-color: #e9baa3;
	border-color: #dad188;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #5E5E5E;
	background-color: #dad188;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #555;
	background-color: #5cbf65;
}
#map-container {
	height: 400px
}
.simple-font{
	font-family:'Libre Baskerville'
}
.fancy-font{

}